<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>Applicants</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="page-header">

    <a href="/dashboard" class="dashboard-btn">

        <i class="bi bi-arrow-left"></i>

        Dashboard

    </a>

</div>

<section class="featured-jobs">

    <div class="heading">

        <h2>Applicants</h2>

        <p>People who applied for your jobs.</p>

    </div>

</section>

</body>
</html>