<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Find Jobs | Job House</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <div class="page-header">

    <a href="/dashboard" class="dashboard-btn">

        <i class="bi bi-arrow-left"></i>

        Dashboard

    </a>

</div>

<section class="featured-jobs">

    <div class="heading">

        <h2>Available Jobs</h2>

        <p>Find your dream job from top companies.</p>
        <form method="GET" style="margin:25px 0;">

            <div style="display:flex;gap:15px;flex-wrap:wrap;">

            <input
            class="form-control"
            type="text"
            name="search"
            placeholder="Search Job, Company, Skills"
            value="{{ request.args.get('search','') }}">

            <input
            class="form-control"
            type="text"
            name="location"
            placeholder="Location"
            value="{{ request.args.get('location','') }}">

            <select
            class="form-control"
            name="job_type">

            <option value="">All Job Types</option>

            <option
            {% if request.args.get("job_type")=="Full Time" %}
            selected
            {% endif %}
            >
            Full Time
            </option>

            <option
            {% if request.args.get("job_type")=="Part Time" %}
            selected
            {% endif %}
            >
            Part Time
            </option>

            <option
            {% if request.args.get("job_type")=="Internship" %}
            selected
            {% endif %}
            >
            Internship
            </option>

            </select>

            <button
            class="apply-btn"
            type="submit">

            Search

            </button>

            </div>

            </form>

    </div>
   {% include "alert.html" %}

    <div class="job-list">

    {% for job in jobs %}

    <div class="job-card">

        <div class="job-top">

            <h3>{{ job["job_title"] }}</h3>

            <span class="salary">{{ job["salary"] }}</span>

        </div>
            <div style="margin:10px 0;">

                {% if job["match"] >= 80 %}

                    <span style="background:#16a34a;color:white;padding:6px 12px;border-radius:20px;font-size:14px;font-weight:600;">
                        🎯 {{ job["match"] }}% Match
                    </span>

                {% elif job["match"] >= 50 %}

                    <span style="background:#f59e0b;color:white;padding:6px 12px;border-radius:20px;font-size:14px;font-weight:600;">
                        🎯 {{ job["match"] }}% Match
                    </span>

                {% else %}

                    <span style="background:#dc2626;color:white;padding:6px 12px;border-radius:20px;font-size:14px;font-weight:600;">
                        🎯 {{ job["match"] }}% Match
                    </span>

        {% endif %}

         </div>
{% if job["matched"] %}

<div style="margin:15px 0;">

    <strong style="color:#22c55e;">
        ✅ Matched Skills
    </strong>

    <div style="margin-top:8px;">

        {% for skill in job["matched"] %}

        <span style="
            display:inline-block;
            background:#16a34a;
            color:white;
            padding:5px 10px;
            border-radius:20px;
            margin:4px;
            font-size:13px;">
            {{ skill }}
        </span>

        {% endfor %}

    </div>

</div>

{% endif %}


{% if job["missing"] %}

<div style="margin-bottom:15px;">

    <strong style="color:#ef4444;">
        ❌ Missing Skills
    </strong>

            <div style="margin-top:8px;">

                {% for skill in job["missing"] %}

                <span style="
                    display:inline-block;
                    background:#dc2626;
                    color:white;
                    padding:5px 10px;
                    border-radius:20px;
                    margin:4px;
                    font-size:13px;">
                    {{ skill }}
                </span>

                {% endfor %}

            </div>

        </div>

                {% endif %}
        <div class="job-details">

            <span>
                <i class="bi bi-building"></i>
                {{ job["company_name"] }}
            </span>

            <span>
                <i class="bi bi-geo-alt"></i>
                {{ job["location"] }}
            </span>

            <span>
                <i class="bi bi-briefcase"></i>
                {{ job["job_type"] }}
            </span>

        </div>

        <p style="margin-bottom:20px;">
            {{ job["description"] }}
        </p>

       {% if job["applied"] %}

<span class="applied-badge">
    <i class="bi bi-check-circle-fill"></i>
    Applied
</span>

{% else %}

<a href="/apply-job/{{ job['id'] }}"
   class="apply-btn">
    Apply Now
</a>

{% endif %}

{% if job["saved"] %}

<span class="applied-badge"
      style="background:#ef4444;margin-left:10px;">

    ❤️ Saved

</span>

{% else %}

<a href="/save-job/{{ job['id'] }}"
   class="apply-btn"
   style="background:#ef4444;margin-left:10px;">

    <i class="bi bi-heart"></i>

    Save Job

</a>

{% endif %}
    </div>

    {% else %}

    <h3 style="text-align:center;">
        No Jobs Available
    </h3>

    {% endfor %}



</div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
setTimeout(function () {

    document.querySelectorAll(".alert").forEach(function(alert){

        alert.style.transition = "opacity .5s";
        alert.style.opacity = "0";

        setTimeout(function(){
            alert.remove();
        },500);

    });

},3000);
</script>

</body>

</html>